<app-menu></app-menu>




<img src="https://image.flaticon.com/icons/png/512/4521/4521958.png" class="img-fluid" alt="...">
<img src="https://image.flaticon.com/icons/png/512/4522/4522553.png" class="img-fluid" alt="...">
<img src="https://image.flaticon.com/icons/png/512/4545/4545120.png" class="img-fluid" alt="...">
<img src="https://image.flaticon.com/icons/png/512/4545/4545126.png" class="img-fluid" alt="...">
<img src="https://image.flaticon.com/icons/png/512/4545/4545134.png" class="img-fluid" alt="...">
<img src="https://image.flaticon.com/icons/png/512/4545/4545191.png" class="img-fluid" alt="...">
