

<app-menu></app-menu>


<div class="row row-cols-1 row-cols-md-6 g-7">

    <div class="col">
      <div class="card">
        <img src="https://img-premium.flaticon.com/png/512/3417/premium/3417982.png?token=exp=1627677737~hmac=6b75f24c2fd97bcc2ab5e8436d937138 "
         class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">O melhor Banco para investir</h5>
          <p class="card-text">
              Crie Sua Conta Grátis e 100% Online. Entenda Tudo Sobre Investimento Conosco. 
              Sem valor mínimo fixo. Invista no Tesouro Direto. Melhor quea Poupança.
                Benefício Fiscal. Investimento 100% online. Melhores rentabilidades.
                 Atendimento Personalizado.</p>
        </div>
        <button class="btn  d-grid gap-2 col-6 mx-auto" type="button" ><a  href="/" class="text text-dark">Saiba mais</a></button>

      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="https://image.flaticon.com/icons/png/512/1320/1320934.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Melhor Banco para rendimento de poupança</h5>
          <p class="card-text">O rendimento da poupança está fixado em 70% da Selic + TR. 
              Como a Selic e o CDI são muito semelhantes, para superar a poupança basta render mais que 70% do CDI
               – o rendimento da conta do Nubank é de 100% do CDI</p>
        </div>
        <button class="btn  d-grid gap-2 col-6 mx-auto" type="button" ><a  href="/" class="text text-dark">Saiba mais</a></button>

      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="https://image.flaticon.com/icons/png/512/1086/1086741.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Melhor Banco para cartao de credito</h5>
          <p class="card-text">Oferece entre 0,15% e 0,3% de cashback de acordo com o volume de gastos          </p>
        </div>
        <button class="btn  d-grid gap-2 col-6 mx-auto" type="button" ><a  href="/" class="text text-dark">Saiba mais</a></button>

      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="https://image.flaticon.com/icons/png/512/1936/1936120.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Consultoria bancaria</h5>
          <p class="card-text">Renegociação de Dívida Empresarial com Bancos e Cooperativas de Crédito Acima R$500 Mil.
               Capital de Giro, Caixa Reserva, Duplicata Descontada, Antecipação Recebível e Ch Especial. Agende uma Visita Agora.
                15 Anos de Mercado. 25 Anos de Experiência.</p>
        </div>
        <button class="btn  d-grid gap-2 col-6 mx-auto" type="button" ><a  href="/" class="text text-dark">Saiba mais</a></button>

      </div>
    </div>

    <div class="col">
        <div class="card">
          <img src="https://image.flaticon.com/icons/png/512/3399/3399165.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Empréstimos e financiamentos</h5>
            <p class="card-text">
                Empréstimo e financiamento são as formas mais comuns de conseguir a liberação de crédito com um banco. Normalmente,
                 as duas operações de crédito pode ser feito em qualquer instituição financeira pública ou privada. ... 
                Além disso, cada instituição têm critérios diferentes para concessão dos valores.</p>
          </div>
          <button class="btn  d-grid gap-2 col-6 mx-auto" type="button" ><a  href="/" class="text text-dark">Saiba mais</a></button>

        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="https://img-premium.flaticon.com/png/512/4746/premium/4746701.png?token=exp=1627677061~hmac=b1aff3d20d914e419e6f73525a94fec9" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">seguros</h5>
            <p class="card-text"> O Mercado Livre foi criado
                 em 1999 pelos argentinos Marcos Galperin e 
                Hernan Kazah como projeto de conclusão de curso do MBA 
                de Stanford. Esta época era o auge do Netscape, navegador
                 web que ajudou a popularizar a internet..</p>
          </div>
          <button class="btn  d-grid gap-2 col-6 mx-auto" type="button" ><a  href="/" class="text text-dark">Saiba mais</a></button>

        </div>
      </div>
  </div>
  
