<app-menu></app-menu>

<h1 class="text-center"> Precisa de ajuda?</h1>
<p class="text-center">Aqui você encontra. O Itaú tem tudo pra você se resolver.</p>
<hr>

<div class="container">
<form>
    
    <h2 class="text-start">conte com a nossa ajuda para tirar suas dúvidas</h2>
    <p>Confira o que preparamos para te ajudar.</p>
</form>
</div>
<div class="container">

<div class="container">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
      <div class="card">
        <img src="https://www.itau.com.br/content/dam/itau/aprenda-fazer-transacoes-atendimento-itau-pra-voce.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">aprenda a fazer transações</h5>
          <p class="card-text">Confira como fazer transações nos canais digitais..</p>
          <button class="btn  d-grid gap-2 col-6 mx-auto" type="button" ><a  href="/paraVoce" class="text text-dark">Saiba mais</a></button>

        </div>
      </div>
    </div>


    <div class="col">
      <div class="card">
        <img src="https://www.itau.com.br/content/dam/itau/como-acessar-a-conta-corrente-atendimento-itau.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">acesso a conta</h5>
          <p class="card-text">Saiba o que fazer se não conseguir acessar sua conta.</p>
          <button class="btn  d-grid gap-2 col-6 mx-auto" type="button" ><a  href="/paraVoce" class="text text-dark">Saiba mais</a></button>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card">
        <img src="https://www.itau.com.br/content/dam/itau/como-habilitar-itoken-no-app-itau.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">habiltar o iToken no app</h5>
          <p class="card-text">Veja como instalar seu iToken em um passo a passo simples.</p>
          <button class="btn  d-grid gap-2 col-6 mx-auto" type="button" ><a  href="/paraVoce" class="text text-dark">Saiba mais</a></button>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card">
        <img src="https://www.itau.com.br/content/dam/itau/atendimento/pf/open-finance-no-itau-ajuda.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">open finance chegou no Itaú</h5>
          <p class="card-text">Conheça o open finance e todos benefícios personalizados pra você.</p>
            <button class="btn  d-grid gap-2 col-6 mx-auto" type="button" ><a  href="/paraVoce" class="text text-dark">Saiba mais</a></button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

